
<p>This is the image gallery</p>



{% schema %}
  {
    "name": "Image Gallery",
    "tag": "section",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Image Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image Slide"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
