
<div class="section-video-custom">
  <video autoplay muted loop playsinline class="video-custom">
    <source src="https://cdn.shopify.com/s/files/1/0566/5554/4508/files/reception_header_2011003.mp4?v=1635304248
" type="video/mp4">
  </video>
</div>

{% schema %}
  {
    "name": "Video Custom",
    "tag": "section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
  .section-video-custom {
    width:100%;
  }
  .video-custom {
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }
{% endstylesheet %}
